$module: 'button';

.#{$module} {
  &__cat {
    border: 1px solid $black;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 5px 15px;
    transition: all, .1s;

    &:active, &:hover {
      background: $purple;
      color: $white;
      text-decoration: none;
    }
  }
  &__cta {
    background: $white;
    color: $purple;
    display: inline-block;
    font-weight: bold;
    padding: 12px 24px;
    transition: all, .1s;

    &:active, &:hover {
      background: $purple;
      color: $white;
      text-decoration: none;
    }

    &-purple {
      background: $purple;
      border-radius: 4px;
      color: $white;
      &:active, &:hover {
        background: $white;
        border: 1px solid $purple;
        color: $purple;
        padding: 11px 23px;
      }
    }
  }
}
