$module: 'content-info';

.#{$module} {
  padding: 20px 0;
  background: $black;
  text-align: center;

  a, a:hover, a:active {
    color: $gray;
    text-decoration: underline;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}
