.banner {
  background: $white;
  border-bottom: 1px solid rgba($midnight, .4);
  color: $black;
  opacity: .95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.brand {
  @include link-style();
  @include nav-link-style();
  float: left;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.nav-primary {
  display: inline-block;
  float: right;
}

.nav {
  li>a:focus,
  li>a:hover {
    background: $midnight;
    color: $white;
    transition: all, .2s;
  }
}
.menu-item {
  display: inline-block;
  float: left;

  a {
    @include link-style();
    @include nav-link-style();
    padding: 0 15px;
  }
}
