.post {
  .container-fluid {
    @include blog-container();
  }

  footer {
    @include text-style();
    background: $gray-light;
    color: $midnight;
    margin-bottom: 0;
    width: 100%;

    .container-fluid {
      padding: 25px 20px;
    }
  }
}

.post, .archive article {

  img {
    //Responsive image override
    width: 100% !important;
    height: auto !important;
  }
}

.blog {
  padding-top: 100px;
  .entry-title {
    margin-top: 0;
  }
}
